/* NAVIGATION */
.checkoutStepper {
    margin-top: 25px;
}

.checkoutStepper ul {
    list-style: none;
    color: #131516;
    font-family: 'Chewy', cursive;
    width: 90%;
    position: relative;
    margin: 0 auto 1em;
    display: flex;
    justify-content: space-around;
    counter-reset: step;
}

.checkoutStepper li {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
}

.checkoutStepper li:before {
    content: counter(step);
    counter-increment: step;
    color: #ffffff;
    border-radius: 50%;
    background-color: #0f90db;
    display: block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin: auto;
}

/* line above the checkoutStepper */
.checkoutStepper ul:after {
    content: "";
    width: 78%;
    height: 3px;
    background-color: #0f90db;
    display: block;
    position: absolute;
    top: 27.5px;
    z-index: -1;
}

.checkoutStepper li.active:before {
    background-color: #17bacf;
}

.checkoutStepper a {
    color: #666665;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 37px;
}

.checkoutStepper .active a {
    color: grey;
}

/* MAIN CONTENT */
/* ORDER SUMMARY */
#mainContent {
   display: grid;
   grid-auto-columns: 1fr;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 0px 0px;
   grid-template-areas: 
     ". ."
     ". .";
   width: 100%;
   height: 100%;  
   
}

#orderSummary {
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    width: 80%;
}

#info {
    margin: 0 auto;
    padding: 50px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 80%;
}

/* UL list */
.details {
    list-style-type: none;
}

/* list elements */
.title, .brandName, .qty, .edit, .sub, .total, .shipping, .tax {
    font-family: 'Lexend', sans-serif;
    margin-top: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.qty, .sub, .shipping, .tax {
    font-size: 1.1rem;
}

/* increment and decrement btn */
.img-qty {
   width: 22px;
   height: 22px;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
}

/* button edit */
#edit, .btn-shipping {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    border-radius: 0.12em;
    box-sizing: none;
    background-color: rgb(22, 174, 201);
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Chewy', cursive;
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
}

#edit:hover, .btn-shipping:hover {
    background-color: #0f90db;
}

.break {
    height: 2px;
    margin: 20px;
    color: blue;
}

/* SHIPPING INFORMATION */
/* FORM */
form {
    margin: 2em 0;
}

fieldset {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

legend {
    font-size: 2rem;
    font-family: 'Lexend', sans-serif;
}

/* displays labels above inputs */
input, label {
    display: block;
    margin: 10px;
}

input {
    border: 1px solid #ccc;
    font-size: 1.0em;
    border-radius: 3px;
    padding: .8em;
    cursor: text;
    color: #707070;
}



/* grid form */
.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "fullName fullName fullName"
      "address address address"
      "apt-suite-other apt-suite-other apt-suite-other"
      "city state zip-code"
      "phone phone phone";
    width: 100%;
    height: 100%;
  }
  
  .fullName { grid-area: fullName; }
  
  .address { grid-area: address; }
  
  .apt-suite-other { grid-area: apt-suite-other; }
  
  .city { grid-area: city; }
  
  .state { grid-area: state; }
  
  .zip-code { grid-area: zip-code; }
  
  .phone { grid-area: phone; }
  
 .btn-shipping {
     margin-left: 8px;
 }

 .field-email {
     margin-top: 20px;
 }

 .field-checkbox > input, label {
     display: inline;
 }








  
