  .shipping {
    font-family: 'Lexend', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .shippingInfo, .totalCart {
      padding: 50px;
  }

  .shippingInfo ul {
      margin-top: 20px;
      list-style-type: none;
  }